/* ========== Fonts ========== */
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

/* ========== TYP HIERONDER JOUW CODE ========== */
.container-fluid{
    width: 60%;
    margin: 0 auto;
    margin-top: 100px;

}

.container-fluid h2{
    color: black;
    position: relative;
    width: 23rem;
}

.container-fluid h2::after{
position: absolute;
content:"";
bottom: 0;
right: 63px;
width: 67px;
height: 2px;
background-color: black;
}

.accordion{
  width: 100%;
  padding:0 5px;
  border: 2px solid #6db5ff;  
  cursor: pointer;
  border-radius: 50px;
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.accordion .icon{
margin: 0 10px 0 0;
width: 30px;
height: 30px;
background-image: url("/images/PlusVector2.png");
background-size:100%;
border-radius: 50%;
float: left;
transition: all .5s ease-in;
}

.accordion .SniperMonkey{
    font-size: 22px;
    margin: 0;
    padding: 3px 0 0 0;
    font-weight: normal;
    color: #1f5c9a;
}

.panel{
    padding: 0 15px;
    border-left: 1px solid #6db5ff;
    margin-left: 25px;
    font-size: 14px;
    text-align: justify;
    overflow: hidden;
    max-height: 0;
    transition: all .5s ease-in;
}

footer{
    margin-bottom: -1000px;
}

#h1{
    margin-left: 30px;
}

#h3{
    margin-left: 30px;

}

.ctive .icon{
    background: url();
}
