/* ========== Fonts ========== */
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

/* ========== TYP HIERONDER JOUW CODE ========== */
#intro{
    margin-left: 5px;
    margin-bottom: 200px;
}
#foto1{
    height: 450px;
    width: 450px;
    background-image: url("../266px-Flag_of_Portugal.svg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%
}
#foto2{
    height: 450px;
    width: 450px;
}
#foto3{
    height: 450px;
    width: 450px;
    float: right;
}
#foto4{
    height: 450px;
    width: 450px;
    float: right;
}
footer{
    margin-bottom: -1700px;
}
#fottos{
display: grid;
grid-template-rows: 500px 500px 500px 500px;
}
#fotto1{
    display: grid;
    grid-template-columns: 25% 75% ;
}
#fotto2{
    display: grid;
    grid-template-columns: 75% 25% ;
}
#fotto3{
    display: grid;
    grid-template-columns: 25% 75% ;
}
#fotto4{
    display: grid;
    grid-template-columns: 75% 25% ;
}