/* ========== Fonts ========== */
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');


/* ========== Standard ========== */
*{
    font-family: 'Libre Franklin', sans-serif;
}
body{
    width: 100%;
    margin: auto;
}
/* ========== Header ========== */

header{
    width: 100%;
    height: 70px;
    background-color: #282c2f;
}

#header{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#title h2{
    color: #e9eaec;
    font-family: 'Noto Sans JP', sans-serif;
}

.daItems{
    text-decoration: none;
    color: #e9eaec;
    font-weight: lighter;
    padding-top: 5px;
}
#headerItems{
    margin-top: 23px;
    text-align: center;
}
#daItemsCover{
    display: grid;
    grid-template-columns: 90px 90px 90px 90px;
    grid-template-rows: 50px;
    float: right;
    margin-right: 140px;
}

#active{
    background-color: #2a526b;
    height: 25px;
    border-radius: 2px;
    transition: 0.1s;
}
#active:hover{
    background-color: #375f77;
    transition: 0.1s;
}


/* ========== TYP HIERONDER JOUW CODE ========== */

/* ========== TYP HIERBOVEN JOUW CODE ========== */

/* ========== Footer ========== */