/* ========== Fonts ========== */
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');


/* ========== Standard ========== */
*{
    font-family: 'Libre Franklin', sans-serif;
}
body{
    margin: auto;
}
/* ========== Header ========== */

header{
    width: 200%;
    margin: auto;
    height: 70px;
    background-color: #282c2f;
}

#header{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#title h2{
    color: #e9eaec;
    font-family: 'Noto Sans JP', sans-serif;
    margin-left: 20px;
    text-decoration: underline;
}

.ayo{
    text-decoration: none;
    color: #e9eaec;
    font-weight: lighter;
    padding-top: 5px;
    height: 25px;
    transition: 0.1s;
    border-radius: 2px;
}

.ayo:hover{
    background-color: #3f4346;
    transition: 0.1s;
}
.active:hover{
    background-color: #375f77;
    height: 25px;
    border-radius: 2px;
    transition: 0.1s;
}
.active{
    background-color: #2a526b;
    text-decoration: none;
    color: #e9eaec;
    font-weight: lighter;
    padding-top: 5px;
    height: 25px;
    transition: 0.1s;
    border-radius: 2px;

}

#headerItems{
    margin-top: 23px;
    text-align: center;
}
#daItemsCover{
    display: grid;
    grid-template-columns: 90px 90px 90px 90px 270px;
    grid-template-rows: 50px;
    float: right;
   
}


#status{
    margin-left: 100px;
    float: right;
    height: 35px;
    margin-top: -4px;
    width: 100px;
    border: 2px solid #5F6366;
    border-radius: 2px;
    background-color: #282C2F;
    color: white;
    cursor: pointer;
    transition: 0.1s;
    font-size: 15px;
}
#status:hover{
    background-color: #363b3f;
    transition: 0.1s;
}

#streepje{
    margin-top: 35px;
    width: 100%;
    background-color: #5F6366;
    border: none;
    height: 0.5px;
}
#otherPages{
    float: right;
    margin-top: 5px;
    display: grid;
    grid-template-columns: 120px 80px 120px;
    width: 500px;
    text-align: center;
    font-size: 14px;
}
#otherPages a{
    text-decoration: none;
    color: grey;
}
.pageDivs i{
    color: grey;
}
.pageDivs{
    cursor: pointer;
    user-select: none;
}
#FAQ-div{
    margin-left: -4px;
    
}
/* ========== TYP HIERONDER JOUW CODE ========== */




/* ========== TYP HIERBOVEN JOUW CODE ========== */

/* ========== Footer ========== */
footer{
    width: 100%;
    height: 250px;
    background-color: #282c2f;
    position: absolute;
    bottom: 0;
}
#footerContent{
    margin-left: 20px;
}
#footerTitle{
    color: white;
    font-size: x-large;
}
.footerText{
    color: white;
    font-size: 14px;
}
#sendConfirmation{
    height: 25px;
    cursor: pointer;
    background-color: #2a526b;
    border: none;
    border-radius: 2px;
    color: #e9eaec;
}
#sendConfirmation:hover{
    background-color: #375f77;
}
#nieuwsbrief{
    border: none;
    text-decoration: none;
    outline: none;
}
