/* ========== Fonts ========== */
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

/* ========== Inlogblok ========== */
h2{
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
}
input{
    border: 1px solid black;
    outline: none;
    width: 270px;
    height: 40px;
    border-radius: 5px;
    align-self: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
}
input::placeholder{
    font-size: 10px;
}
#inlogKnop{
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    background-color: #2a526b;
    border: none;
    border-radius: 10px;
    color: #e9eaec;
    height: 40px;
    width: 250px;
}
#inlogblok{
    margin-top: 125px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}